body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}
#home{
	position: absolute;
	top: 0%;
	left: 50%;
	width: 45px;
}
.button-snap{
	border: none;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0 20px;
	padding: 0px 20px;
	line-height: 50px;
	height: 50px;
	letter-spacing: 1px;
	width: 100%;
	cursor: pointer;
	display: block;	
	box-shadow: 0 3px 0 rgba(0,0,0,0.1);	
}
.snap-drawers{
	background: #7bb7fa;
}
#titulo-marcador{
	font-size: 20px;
	width: 98%;
	height: 25px;
}
#descripcion-marcador{
	font-size: 18px;
	width: 98%;	
}
#select-marcador{
	font-size: 20px;
	width: 100%;
	height: 30px;
}
.etiquetas-marcador{
	font-size: 18px;	
}
.datos-marcador{
	font-size: 18px;	
}
#contenedor{
	background:#B5DAFF;	
}
